[submodule "middlewareserver"]
 path = middlewareserver
 url = https://github.com/mohammed1916/middlewareserver

[submodule "portfolio"]
 path = portfolio
 url = https://github.com/mohammed1916/portfolio

[submodule "serverside"]
 path = serverside
 url = https://github.com/mohammed1916/serverside
